@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
    font-family: 'Raleway', sans-serif;
}

.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
    font-family: 'Raleway', sans-serif;
}

.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
    font-family: 'Montserrat', sans-serif;
}

.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-radius: 1.6em;
}

.mbr-subscribe .btn {
    border-radius: 1.6em !important;
}


.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
    font-family: 'Lora', serif;
}

.mbr-author-name {
    font-family: 'Montserrat', sans-serif;
}

.mbr-author-desc {
    font-family: 'Lora', serif;
}

.mbr-plan-title {
    font-family: 'Montserrat', sans-serif;
}

.mbr-plan-subtitle,
.mbr-plan-price-desc {
    font-family: 'Lora', serif;
}

.bg-primary {
    background-color: #efefef !important;
}

.bg-success {
    background-color: #90a878 !important;
}

.bg-info {
    background-color: #7e9b9f !important;
}

.bg-warning {
    background-color: #f3c649 !important;
}

.bg-danger {
    background-color: #f28281 !important;
}

.btn-primary {
    background-color: #efefef;
    border-color: #efefef;
    color: #ffffff;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active {
        color: #ffffff;
        background-color: #c9c9c9;
        border-color: #c9c9c9;
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #ffffff !important;
        background-color: #c9c9c9 !important;
        border-color: #c9c9c9 !important;
    }

.btn-secondary {
    background-color: #bfcecb;
    border-color: #bfcecb;
    color: #ffffff;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary.focus,
    .btn-secondary:active,
    .btn-secondary.active {
        color: #ffffff;
        background-color: #94ada8;
        border-color: #94ada8;
    }

    .btn-secondary.disabled,
    .btn-secondary:disabled {
        color: #ffffff !important;
        background-color: #94ada8 !important;
        border-color: #94ada8 !important;
    }

.btn-info {
    background-color: #7e9b9f;
    border-color: #7e9b9f;
    color: #ffffff;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info.focus,
    .btn-info:active,
    .btn-info.active {
        color: #ffffff;
        background-color: #597478;
        border-color: #597478;
    }

    .btn-info.disabled,
    .btn-info:disabled {
        color: #ffffff !important;
        background-color: #597478 !important;
        border-color: #597478 !important;
    }

.btn-success {
    background-color: #90a878;
    border-color: #90a878;
    color: #ffffff;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success.focus,
    .btn-success:active,
    .btn-success.active {
        color: #ffffff;
        background-color: #6a8153;
        border-color: #6a8153;
    }

    .btn-success.disabled,
    .btn-success:disabled {
        color: #ffffff !important;
        background-color: #6a8153 !important;
        border-color: #6a8153 !important;
    }


    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning.focus,
    .btn-warning:active,
    .btn-warning.active {
        color: #ffffff;
        background-color: #e1a90f;
        border-color: #e1a90f;
    }

    .btn-warning.disabled,
    .btn-warning:disabled {
        color: #ffffff !important;
        background-color: #e1a90f !important;
        border-color: #e1a90f !important;
    }

.btn-danger {
    background-color: #f28281;
    border-color: #f28281;
    color: #ffffff;
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger.focus,
    .btn-danger:active,
    .btn-danger.active {
        color: #ffffff;
        background-color: #eb3d3c;
        border-color: #eb3d3c;
    }

    .btn-danger.disabled,
    .btn-danger:disabled {
        color: #ffffff !important;
        background-color: #eb3d3c !important;
        border-color: #eb3d3c !important;
    }

.btn-primary-outline {
    background: none;
    border-color: #bcbcbc;
    color: #bcbcbc;
}

    .btn-primary-outline:hover,
    .btn-primary-outline:focus,
    .btn-primary-outline.focus,
    .btn-primary-outline:active,
    .btn-primary-outline.active {
        color: #ffffff;
        background-color: #efefef;
        border-color: #efefef;
    }

    .btn-primary-outline.disabled,
    .btn-primary-outline:disabled {
        color: #ffffff !important;
        background-color: #efefef !important;
        border-color: #efefef !important;
    }

.btn-secondary-outline {
    background: none;
    border-color: #85a29c;
    color: #85a29c;
}

    .btn-secondary-outline:hover,
    .btn-secondary-outline:focus,
    .btn-secondary-outline.focus,
    .btn-secondary-outline:active,
    .btn-secondary-outline.active {
        color: #ffffff;
        background-color: #bfcecb;
        border-color: #bfcecb;
    }

    .btn-secondary-outline.disabled,
    .btn-secondary-outline:disabled {
        color: #ffffff !important;
        background-color: #bfcecb !important;
        border-color: #bfcecb !important;
    }

.btn-info-outline {
    background: none;
    border-color: #4e6669;
    color: #4e6669;
}

    .btn-info-outline:hover,
    .btn-info-outline:focus,
    .btn-info-outline.focus,
    .btn-info-outline:active,
    .btn-info-outline.active {
        color: #ffffff;
        background-color: #7e9b9f;
        border-color: #7e9b9f;
    }

    .btn-info-outline.disabled,
    .btn-info-outline:disabled {
        color: #ffffff !important;
        background-color: #7e9b9f !important;
        border-color: #7e9b9f !important;
    }

.btn-success-outline {
    background: none;
    border-color: #5d7149;
    color: #5d7149;
}

    .btn-success-outline:hover,
    .btn-success-outline:focus,
    .btn-success-outline.focus,
    .btn-success-outline:active,
    .btn-success-outline.active {
        color: #ffffff;
        background-color: #90a878;
        border-color: #90a878;
    }

    .btn-success-outline.disabled,
    .btn-success-outline:disabled {
        color: #ffffff !important;
        background-color: #90a878 !important;
        border-color: #90a878 !important;
    }

.btn-warning-outline {
    background: none;
    border-color: #c9970d;
    color: #c9970d;
}

    .btn-warning-outline:hover,
    .btn-warning-outline:focus,
    .btn-warning-outline.focus,
    .btn-warning-outline:active,
    .btn-warning-outline.active {
        color: #ffffff;
        background-color: #f3c649;
        border-color: #f3c649;
    }

    .btn-warning-outline.disabled,
    .btn-warning-outline:disabled {
        color: #ffffff !important;
        background-color: #f3c649 !important;
        border-color: #f3c649 !important;
    }

.btn-danger-outline {
    background: none;
    border-color: #e82625;
    color: #e82625;
}

    .btn-danger-outline:hover,
    .btn-danger-outline:focus,
    .btn-danger-outline.focus,
    .btn-danger-outline:active,
    .btn-danger-outline.active {
        color: #ffffff;
        background-color: #f28281;
        border-color: #f28281;
    }

    .btn-danger-outline.disabled,
    .btn-danger-outline:disabled {
        color: #ffffff !important;
        background-color: #f28281 !important;
        border-color: #f28281 !important;
    }

.text-primary {
    color: #efefef !important;
}

.text-success {
    color: #90a878 !important;
}

.text-info {
    color: #7e9b9f !important;
}

.text-warning {
    color: #f3c649 !important;
}

.text-danger {
    color: #f28281 !important;
}

.alert-success {
    background-color: #90a878;
}

.alert-info {
    background-color: #7e9b9f;
}

.alert-warning {
    background-color: #f3c649;
}

.alert-danger {
    background-color: #f28281;
}

.btn-social {
    border-color: #efefef;
}

    .btn-social:hover {
        background: #efefef;
    }

.mbr-company .list-group-item.active .list-group-text {
    color: #efefef;
}


.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
    background: #efefef;
}

.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
    color: #efefef;
}

.lead a,
.lead a:hover {
    color: #efefef;
}

.lead blockquote {
    border-color: #efefef;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #d0dac6;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #c7d4d5;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-small-footer a,
.mbr-gallery-filter li:hover {
    color: #efefef;
}

.scrollToTop_wraper {
    opacity: 0 !important;
}

.extCountdown1 .number,
.extCountdown2 .number {
    font-family: 'Montserrat', sans-serif;
}

.extCountdown1 .period,
.extCountdown2 .period {
    font-family: 'Lora', serif;
}

.extCountdown1 .dot,
.extCountdown2 .dot {
    font-family: 'Montserrat', sans-serif;
}

.features6 .feature-subtitle {
    font-family: 'Lora', serif;
}

.features6 .feature-title {
    font-family: 'Montserrat', sans-serif;
}

.features6 .description {
    font-family: 'Raleway', sans-serif;
}

.count,
.counter-title {
    font-family: 'Montserrat', sans-serif;
}

.counter-subtitle {
    font-family: 'Lora', serif;
}

.mbr-iconfont-counters1 {
    color: #efefef;
}

.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
    font-family: 'Montserrat', sans-serif;
}

.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
    font-family: 'Lora', serif;
}

.extHeader5 .container label {
    font-family: 'Lora', serif;
}

.extHeader9 form p.form-subtitle {
    font-family: 'Montserrat', sans-serif;
}

.extHeader11 .container span {
    font-family: 'Montserrat', sans-serif;
}

.extHeader11 .container p.element {
    font-family: 'Montserrat', sans-serif;
}

.extHeader11 .container p {
    font-family: 'Lora', serif;
}

.extHeader12 h4,
.extFeatures10 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extHeader12 .subtitle,
.extFeatures10 .subtitle {
    font-family: 'Lora', serif;
}

.extHeader13 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extHeader13 .number {
    font-family: 'Montserrat', sans-serif;
}

.extHeader13 .period {
    font-family: 'Lora', serif;
}

.extHeader13 .dot {
    font-family: 'Montserrat', sans-serif;
}

.extFeatures .feature-title {
    font-family: 'Montserrat', sans-serif;
}

.extFeatures .feature-subtitle {
    font-family: 'Lora', serif;
}

.extFeatures .feature-text {
    font-family: 'Raleway', sans-serif;
}

.extFeatures2 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extFeatures3 .border-wrap {
    border-color: #efefef;
}

.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
    font-family: 'Montserrat', sans-serif;
}

.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
    font-family: 'Lora', serif;
}

.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
    font-family: 'Lora', serif;
}

.extForm2 .container h3 {
    font-family: 'Montserrat', sans-serif;
}

.extForm2 .container p {
    font-family: 'Lora', serif;
}

.extPricingTable1 .bottom_line {
    border-bottom-color: #efefef;
}

.extPricingTable1 .mbr-price small {
    font-family: 'Lora', serif;
}

.extPricingTable1 .mbr-plan-label {
    background: #efefef;
}

.extCounters2 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extCounters2 h5 {
    font-family: 'Lora', serif;
}

.extCounters3 .count {
    font-family: 'Montserrat', sans-serif;
}

.extCounters3 .counter-title {
    font-family: 'Montserrat', sans-serif;
}

.extCounters3 .counter-subtitle {
    font-family: 'Lora', serif;
}

.extProgressBar .progress-primary[value]::-webkit-progress-value {
    background-color: #efefef;
}

.extProgressBar .progress-primary[value]::-moz-progress-bar {
    background-color: #efefef;
}

@media screen and (min-width: 0\0) {
    .extProgressBar .progress-primary .progress-bar {
        background-color: #efefef;
    }
}

.extProgressBar .title-wrap {
    font-family: 'Lora', serif;
}

.extProgressBarRound .progress-radial .overlay {
    font-family: 'Montserrat', sans-serif;
}

.extProgressBar4 .feature-title {
    font-family: 'Montserrat', sans-serif;
}

.extProgressBar4 .feature-subtitle {
    font-family: 'Lora', serif;
}

.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
    color: #efefef;
}

.extAccordion1 .panel-heading a {
    font-family: 'Raleway', sans-serif;
}

.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
    background-color: #efefef;
}

.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
    font-family: 'Raleway', sans-serif;
}

.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
    background-color: #efefef;
}

.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
    background-color: #efefef;
}

@media screen and (min-width: 0\0) {
    .extProgressBar5 .progress-primary .progress-bar {
        background-color: #efefef;
    }
}

.extProgressBar5 .title-wrap {
    font-family: 'Lora', serif;
}

.extMsg-box1 .container h3 {
    font-family: 'Montserrat', sans-serif;
}

.extMsg-box1 .container p {
    font-family: 'Lora', serif;
}

.extMsg-box1 h4 {
    font-family: 'Montserrat', sans-serif;
}

.extMsg-box1 .subtitle {
    font-family: 'Lora', serif;
}

.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
    font-family: 'Montserrat', sans-serif;
}

.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
    font-family: 'Lora', serif;
}

.extProgressBarRound .pie_progress__number {
    font-family: 'Montserrat', sans-serif;
}

.extMenu1 span.icon a:hover {
    color: #efefef !important;
}

.extProgressBar .progress-primary[value]::-ms-fill {
    color: #efefef;
}

.extProgressBar5 .progress-primary[value]::-ms-fill {
    color: #efefef;
}

.theme-border {
    border: 1px solid #efefef;
}

#menu-0 .hide-buttons .nav-btn {
    display: none !important;
}

#menu-0 .navbar-caption {
    color: #ffffff;
}

#menu-0 .navbar-toggler {
    color: #ffffff;
}

#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
    background-color: #ffffff;
}

#menu-0 .dropdown-item {
}


#menu-0 .link,
#menu-0 .dropdown-item {
    color: #ffffff;
}

#menu-0 .link {
    font-size: 0.75rem;
}

#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
    font-size: 0.75rem;
}

    #menu-0 .link:hover,
    #menu-0 .dropdown-item:hover,
    #menu-0 .link:focus,
    #menu-0 .dropdown-item:focus {
        color: #efefef;
    }

#menu-0 .link[aria-expanded="true"] {
    opacity: 1;
}

#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
    background: #3a3a3a;
}


div.dropdown-menu {
}


#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:focus {
}

#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
    background: #4b4b4b !important;
}

#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .dropdown-menu {
    /*background: rgba(76,175,80,1);*/
    background: #232323;
    /*background: rgba(76,47,124,1);*/
}

#menu-0 .bg-color.transparent .link {
    color: #ffffff;
    transition: none;
    transition: 0.3s opacity ease;
}

#menu-0 .bg-color.transparent.opened .link {
    transition: color 0.2s ease-in-out;
}

    #menu-0 .bg-color.transparent.opened .link:hover {
        color: #efefef;
    }

#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
    color: #efefef !important;
}

#menu-0 span {
    font-weight: bold;
}

#header2-1 .mbr-section-title {
    font-size: 72px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #header2-1 .mbr-section-title {
        font-size: 50px;
    }
}

#header3-k .mbr-section-title,
#header3-k .mbr-section-subtitle {
    text-align: center;
}

#content1-j DIV {
    text-align: center;

}

.cards-section{
    z-index:2;
}

#features1-e .striped .mbr-cards-col:nth-child(2n+1) {
        background: -webkit-linear-gradient(top, rgba(35,35,35,0) 0%, rgba(30,30,30,1) 50%, rgba(35,35,35,1) 100%);
}

#features1-e .mbr-cards-col:nth-child(odd) .card-title {
    color: #eee;

}

#features1-e .mbr-cards-col:nth-child(odd) .card-text {
    color: #cecece;
}

#features4-i .card-subtitle {
    color: #bcbcbc;
}

#features4-i .iconbox {
    background-color: #ffffff;
    border-color: #ffffff;
}

#testimonials1-7 .mbr-section-subtitle {
    color: #000000;
}

#testimonials1-7 .mbr-section-title {
    color: #000000;
}

#pricing-table2-f .mbr-plan-header,
#pricing-table2-f .mbr-plan-body {
    background-color: #f4f4f4;
}

#pricing-table2-f ul,
#pricing-table2-f .mbr-plan-title,
#pricing-table2-f .mbr-price-value,
#pricing-table2-f .mbr-price-figure,
#pricing-table2-f .mbr-price-term {
    color: #28262b;
}

#pricing-table2-f .mbr-plan {
    border-color: #e8e8e8;
}

    #pricing-table2-f .mbr-plan .list-group-item {
        border-color: #cfcfcf;
    }

#pricing-table2-f .mbr-plan-price-desc {
    color: #232323;
}

#pricing-table2-f .mbr-plan-subtitle {
    color: #232323;
}

#msg-box3-g .mbr-section-title,
#msg-box3-g p {
    color: #000;
}

#msg-box3-g .mbr-section-title {
    font-size: 100px;
    color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #msg-box3-g .mbr-section-title {
        font-size: 50px;
    }
}
